.icoTim, .icoTag,.icoWor,.icoDat, .icoRss, .icoMen {
  display: inline-flex;
  width: 12px;
  height: 12px;
  margin:0 6px;
  background: url('imgs/sprite.webp');
  //background: url('data:image/webp;base64,UklGRtoAAABXRUJQVlA4IM4AAACQBACdASoYABgAAVhMJ6QDPpAgdgQYDrSwzdr6mRu+OxLmjbwJW10IfGAzJgAA/vNTRt2cHYcF+mIG+zuJAnHa/jpRYQJ8a9ekvgys70d2exla4trWc+IYaM6NY20MsJqWbgozT4uoTXSkZoljS62ULofbaRRTp9N/DWgNeQnBIVQkV69nUDHlYTnBjynqbTS9AdyI9Gm56H0dTp86VXR+/xjNEdJwJZOwXObvb6dj4PFqdSqeoxBdz1EjR7y5PMOSW4DcN1QN2Owjp8AAAA==')
}

.icoTag{
  background-position: -12px 0;
}
.icoWor{
  background-position: 0 -12px;
}
.icoDat{
  background-position: -12px -12px;
}
.icoRss{
  background-position: -30px -23px;
  width: 18px;
  height: 18px;
}
.icoMen{
  background-position: 24px 0;
  width: 24px;
  height: 24px;
}